
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
}

banner {
  margin: 0;
  width: 100%;
  text-align: center;
}

header {
  background-color: cornflowerblue;
  color: white;
  margin: 0;
  padding: 4px 8px;
}

main {
  margin: 8px 32px;
}
footer {
  background-color: rgb(136, 92, 35);
  color: whitesmoke;
  padding: 4px 8px;
}

h1, h2, h3, p {
  margin-block: .25em;
}

.card {
  background-color: antiquewhite;
  padding: 1rem;
  margin: 1rem;
  max-width: fit-content;
  border-radius: 8px;
}
